<html>
    <head>
		<link rel="stylesheet" type="text/css" href="main.css"/>
        <title>Story Upload</title>
    </head>
    <body>
        <h1>Upload Story</h1>
        
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload Story">
        </form>
		</br>
		<ul>
			<li><a href="/">Main</a></li>
    </body>
</html>